@font-face {
	font-family: citron;
	src: url("font.ttf");
}

@font-face {
	font-family: citron_code;
	src: url("font_fixed.ttf");
}

body {
	font-family: citron;
	font-size: 16px;
	height: 100%;
}

a {
	color: #59B24B;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

.center {
	text-align: center;
}

.fullWidth {
	width: 100%;
}

/*
	Configure the look of dat.GUI to match the rest of the page.
*/
.dg {
	font-family: citron;
	font-size: 16px;
}
.close-button {
	padding: 5px 0 5px 0;
}

/*
	This is the default style used in small screens :
	It uses a single centered column of fixed size 400px.
*/
#content {
	width: 100%;
}
#democontent {
	width: 400px;
	margin: auto;
	margin-bottom: 40px;
}
#canvascontainer {
	width: 100%;
	height: 400px;
	position: relative;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	margin-bottom: 8px;
}
#webgl2 {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}
#loading {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}
#gui {
	width: 400px;
	margin: auto;
	margin-bottom: 20px;
}
#text {
	width: 400px;
	margin: auto;
	text-align: justify;
}

/*
	starting at 600px, use a 512 width.
*/
@media screen and (min-width: 600px) {
	#democontent {
		width: 512px;
	}
	#canvascontainer {
		height: 512px;
	}
	#gui {
		width: 512px;
	}
	#text {
		width: 512px;
	}
}

/*
	On wider screens, make this a double column, with the
	text on the left and the demo on the right.
*/
@media screen and (min-width: 1200px) {
	#content {
		width: 1150px;
		margin: auto;
	}
	#democontent {
		float: right;
		margin-top: 30px;
	}
	#text {
		display: inline-block;
		width: 610px;
	}
}
